@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.button_style {
    border: none;
    background-color: black;
    color: white;
    border-radius: 12px;
    font-family: 'Press Start 2P', sans-serif;
    padding: 2rem 3rem;
    cursor: pointer;
}

.button_style:hover {
    background-color: white;
    color: black;
}

.heading_style {
    position: fixed;
    color: black;
    font-size: 70px;
    left: 30%;
    top: 25%;
}



/* style for the button at left  */
.left {
    position: fixed;
    background-color: black;
    color: white;
    border-radius: 12px;
    text-align: center;
    left: 15%;
    top: 23%;
    font-size: 40px;
    margin-top: 40%;
    display: flex;
}


.left:hover {
    background-color: white;
    color: black;

}

/* style for the right button */
.right {
    position: fixed;
    background-color: black;
    color: white;
    border-radius: 12px;
    text-align: center;
    right: 13%;
    top: 23%;
    font-size: 40px;
    margin-top: 40%;
    display: flex;
}

.right:hover {
    background-color: white;
    color: black;
}

/* style for the centre button */
.center {
    position: fixed;
    background-color: black;
    color: white;
    border-radius: 12px;
    text-align: center;
    left: 40%;
    top: 13%;
    font-size: 40px;
    margin-top: 40%;
    display: flex;
}

.center:hover {
    background-color: white;
    color: black;
}


.heading1 {
    font-size: 70px;
    position: fixed;
    left: 28%;
    top: 17%;
}