{% extends "Choose_and_Tell/index.html" %}
{% load static %}

{% block body %}
<div class="go_where">
    <div id="go_where_heading">
        <h6  class="heading_style">Where will you go?</h6>
    </div>
    
    
    <button class="button_style left">
        Shopping Mall
    </button>
    
    <button class="button_style center">
       Mountain
    </button>
    
    <button class="button_style right">
        Camping
    </button>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'Choose_and_Tell/car.js' %}"></script>
{% endblock %}
