{% load static %} 

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Default</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'Choose_and_Tell/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="{% static 'Choose_and_Tell/saved_settings.js' %}"></script>
        <script> 
            var user_id_test = "{{ user_id }}";
        </script>
        {% block script %} 
        {% endblock %}
    </head>
    <body id="body">
        <div id="container">
            <div id="temporary">
                <div id="homebuttonbox">
                    <a class="settings_button" href="{% url 'home' %}">
                        <i class="fas fa-home larger-icon"></i>
                    </a>
                </div>
                <div id="main_title">
                    <h4 id="actual_title">CHOOSE AND TELL</h4>
                </div>
                <div id="user">
                    {% if user.is_authenticated %} 
                        <span style="color: #050504">Welcome </span><strong id="username">{{ user.username }}</strong><span>!</span>
                        <br>
                        <a class="log" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <span>Not signed in</span>
                        <br>
                        <a class='log' href="{% url 'login' %}">Login</a>
                    {% endif %}
                </div>
                <div id="settingsbox">
                    <a class="settings_button" href="{% url 'settings' %}">
                        <i class="fas fa-cog larger-icon"></i>
                    </a>
                </div>    
            </div>
        
            {% block body %} 
            {% endblock %} 
        </div>
    </body>
</html>