{% extends "Choose_and_Tell/index.html" %}
{% load static %}

{% block body %} 
         
    <h4>Settings Page</h4>

    <div class="slider">
        <div class="box">
            <span class="adjustment_title">Contrast Slider</span>
            <div class="inner_box">
                <i class="fa fa-adjust" aria-hidden="true"></i>
                <input type="range" id="contrast_control"  min="0" max="200" value="100" />
            </div>
        </div>
        <div class="box">
            <span class="adjustment_title">Brightness Slider</span>
            <div class="inner_box">
                <i class="fa fa-sun-o" aria-hidden="true"></i>
                <input type="range" id="brightness_control" min="0" max="200" value="100" />
            </div>
        </div>
    </div>
    
    <span id="bold_title">Text Clarity Slider</span>
    <input type="range" id="bold_control" class="form-range" min="0" max="200" value="100" />

    
    <span id="size_title">Alter Text Size (NOT FINISHED)</span>
    <input type="range" id="text_size_control" class="form-range" min="15" max="20" value="17" />

{% endblock %} 

{% block script %} 
    <script src="{% static 'Choose_and_Tell/settings.js' %}"></script>
{% endblock %}   