{% extends "Choose_and_Tell/index.html" %}
{% load static %}

{% block body %} 
         
    <h4>Settings Page</h4>

    <span id="contrast_title">Contrast Slider</span>
    <input type="range" id="contrast_control" class="form-range" min="0" max="200" value="100" />
 
    <span id="contrast_title">Text Clarity Slider</span>
    <input type="range" id="bold_control" class="form-range" min="0" max="200" value="100" />

{% endblock %} 

{% block script %} 
    <script src="{% static 'Choose_and_Tell/settings.js' %}"></script>
{% endblock %}   